main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#announcements, #leaderboard {
    width: 80%;
    height: fit-content;
    padding: 30px;
    margin-top: 30px;
    background-color: rgb(240, 240, 240, 0.2);
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    #announcements, #leaderboard {
        margin-top: 5px;
        background-color: rgb(0, 0, 0, 0);
    }
}