/* Global Settings */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/roosevelt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navigation Bar Styling */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f5c20;
    padding: 10px 0;
}
li {
    display: inline-block;
    list-style: none;
    padding-right: 50px;
}
#last {
    padding-right: 0;
}
a {
    text-decoration: none;
    color: #dfdfdf;
}
a:hover {
    text-decoration: underline;
    color: white;
}

/* Heading Formatting */
#header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 115px;
    color: #dfdfdf;
}
#title {
    float: left;
    padding-top: 20px;
    padding-left: 30px;
    width: 40%;
}
#info {
    padding-top: 20px;
    padding-right: 30px;
    margin-left: auto;
}
.updates {
    float: right;
    clear: both;
}

/* Left & Right Div Settings */
#left, #right {
    float: left;
    width: 42%;
    padding: 2%;
    margin: 2%;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

#error {
    color: red;
}

/* Form Styling */
form {
    margin: 10px 0;
}
.radio {
    margin: 5px 10px;
}
#submit {
    width: 100px;
    padding: 8px;
    margin: 10px 0;
    background-color: #2f5c20;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


#stars {
    font-size: 20pt;
    color: #f9c108
}