* {
  text-align: center;
  font-family:'DancingScriptRegular';
  font-weight: normal;
  font-style: normal;
	padding: 0 15% 0 15%;
}

body {
  background-color: #f5f5dd;
}

h1 {
  color: blue;
  font-size: 400%;
}

p {
  color: #665544;
  font-size: 200%;
}
